pkgbase = rhm2sspm-bin
	pkgdesc = Converts Rhythia (.rhm/.phxm), Nova (.npk) and Sound Space+ (.sspm) map files, preserving timing and off-grid notes exactly
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/gerhaarrd/rhm2sspm
	arch = x86_64
	license = MIT
	depends = webkit2gtk-4.1
	depends = gtk3
	optdepends = gst-plugins-base: audio preview
	optdepends = gst-plugins-good: audio preview
	optdepends = gst-plugins-bad: audio preview
	optdepends = gst-plugins-ugly: audio preview
	optdepends = gst-libav: audio preview
	optdepends = gst-plugin-pipewire: audio preview
	provides = rhm2sspm
	conflicts = rhm2sspm
	noextract = rhm2sspm_0.1.2_amd64.deb
	options = !strip
	source = rhm2sspm_0.1.2_amd64.deb::https://github.com/gerhaarrd/rhm2sspm/releases/download/v0.1.2/rhm2sspm_0.1.2_amd64.deb
	source = LICENSE-0.1.2::https://raw.githubusercontent.com/gerhaarrd/rhm2sspm/v0.1.2/LICENSE
	sha256sums = 5a07b8bd37c0ece94e23ae0712dfac5c59269f175c3547dbd0b6154e9ef4576a
	sha256sums = cc632882eab063a0222f7d4b15a42564fb86041ad65b056d3a83f8e93e57d386

pkgname = rhm2sspm-bin
